<ion-view>
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide class="intro-slide">
            <div class="intro-slide-wrapper">
                <div class="intro-slide-body">
                    <div>
                        <h1>Hello, buddy. You want to structure your goals?</h1>
                        <h3>You are at the right place</h3>
                    </div>
                </div>
                <button class="button button-block" ng-click="startApplication()">Skip</button>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="intro-slide-wrapper">
                <div class="intro-slide-body">
                    <div>
                        <h1>You can do it!</h1>
                    </div>
                </div>
                <button class="button button-block" ng-click="startApplication()">Skip</button>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="intro-slide-wrapper">
                <div class="intro-slide-body">
                    <div>
                        <h1>Conquer your goals!</h1>
                    </div>
                </div>
                <button class="button button-block" ng-click="startApplication()">Skip</button>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>