<ion-view>
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide class="intro-slide">
            <div class="intro-slide-wrapper">
                <div class="centered-logo"></div>
                <h3>Welcome to Structures</h3>
            </div>
        </ion-slide>
        <ion-slide class="intro-slide">
            <div class="intro-slide-wrapper">
                <div class="infographic"></div>
            </div>
        </ion-slide>
        <ion-slide class="intro-slide">
            <div class="intro-slide-wrapper">
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>